# Environments
venv/
env/
.env
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node
node_modules/
frontend/dist/

# Data (user uploads)
data/uploads/

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
